<article id="intro" class="grid_12-12">
  <h1>What</h1>
  <p>The Scalable Grid System or <a href="http://scalable.gs" title="Scalable Grid System">scalable.gs</a> for short, is a device independent and cross screen size web development framework. The system use a range of technologies to optimize the user experience of a website on a range of different platforms.</p>
  <p>It follows the main ideas from the <a href="http://960.gs" title="The 960 grid system">960.gs</a>, but incorporate and builds upon the <a href="http://gitorious.org/fluidcolumn">fluidCOLUMN</a> thoughts.</p>
  <h1>How</h1>
  <p><a href="https://github.com/scalablegs/scalable.gs/zipball/examples" title="Download the Scalable Grid System example files">Download and have a look at the example files</a> to get an overview of how the system works. A tutorial will be available shortly on the <a href="http://designformobilefirst.com" title="Design for Mobile first">Design for Mobile first</a> blog. </p>
  <h1>Download</h1>
  <%= button_group do %>
    <%= button_link_to "4 Grid System", "https://github.com/scalablegs/scalable.gs/zipball/scalable-4-grid-system" %>
    <%= button_link_to "10 Grid System", "https://github.com/scalablegs/scalable.gs/zipball/scalable-10-grid-system" %>
    <%= button_link_to "12 Grid System", "https://github.com/scalablegs/scalable.gs/zipball/scalable-12-grid-system" %>
    <%= button_link_to "20 Grid System", "https://github.com/scalablegs/scalable.gs/zipball/scalable-20-grid-system" %>
    <%= button_link_to "24 Grid System", "https://github.com/scalablegs/scalable.gs/zipball/scalable-24-grid-system" %>
  <% end %>
</article>